# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html#linux-container-commands
#
# container commands are applied to your source code before it's deployed
# cool thing:  they have access to environment variables
# the numbers are becase commands are run in alphabetical order by name

packages:
  yum:
    git: []
    jwhois: []
commands:
  10.install_npm:
    command: yum -y --enablerepo=epel install npm
container_commands:
  00.setup_db:
    command: "./dump/prime_rds.sh"
    leader_only: true
  10.update_npm:
    command: npm install
  30.bower_install:
    command: ./node_modules/.bin/bower --allow-root install
