
<!DOCTYPE html>
    <html>

        <head>
            <title>{% block title %}PDBV{% endblock %}</title>
            <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
            {% block head %}Head goes here?{% endblock %}
        </head>
          
        <body>
            <link type="text/css" rel="stylesheet" href="static/style.css"/>
            <link rel="stylesheet" href="/static/style.css">

            <!-- <script src="https://d3js.org/d3.v3.min.js"></script> -->
            <script type="text/javascript" src="https://mbostock.github.io/d3/talk/20111018/d3/d3.js"></script>
            <script type="text/javascript" src="https://mbostock.github.io/d3/talk/20111018/d3/d3.layout.js"></script> 
            <style type="text/css"></style>

            <form action="/search">
              <!--submits what the user typed in to the /search route
              which in turn creates /search?search=netflix -->
              <input type="text" name="search" placeholder="choose network">
              <input type="submit">
            </form>

            {% block body %}BODY GOES HERE{% endblock %}

            <div id="footer">
              pdbv
              <div class="hint">
                networks visualized by their exchanges
              </div>
            </div>
        </body>

    </html>
