
<!DOCTYPE html>
    <html>
        <head>
            <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
            <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
            {% block head %}Head goes here?{% endblock %}
        </head>
          
        <body>


            <link type="text/css" rel="stylesheet" href="static/style.css"/>
            <script src="https://d3js.org/d3.v3.min.js"></script>
            <script type="text/javascript" src="https://mbostock.github.io/d3/talk/20111018/d3/d3.js"></script>
            <script type="text/javascript" src="https://mbostock.github.io/d3/talk/20111018/d3/d3.layout.js"></script> 
            <style type="text/css"></style>

            <link rel="stylesheet" href="/static/style.css">


          <form action="/collapsible_tree">
          <input type="text" name="search">
          <input type="submit">
          </form>
            {% block body %}BODY GOES HERE{% endblock %}
        </body>
    </html>
